:root {
  --main-bg-color: #011627;
  --cell-bg-color: #f7f9f9;
}

body {
  text-align: center;
  padding: 150px;
}

body.focused {
  overflow: hidden;
}

.tetris {
  border: thick solid #ffffff;
  padding: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

.tetris.focused {
  border: thick double #ffffff;
}

h1 {
  font-size: 50px;
}

body {
  font: 20px Helvetica, sans-serif;
  color: #333;
}

article {
  display: block;
  text-align: left;
  width: 650px;
  margin: 0 auto;
}

a {
  color: #dc8100;
  text-decoration: none;
}

a:hover {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
}